/* post */
.post {
    width: 50%;
    border-radius: 1%;
    background-color: #eff2f5;
    /* box-shadow: 1px 5px 7px -7px rgba(0, 0, 0, 0.75); */
    /* margin-bottom: 2%; */
    border-color: #cfdbd3;
    padding-left: 1%;
}

/* post Top */
.postTop {
    display: flex;
    position: relative;
    align-items: center;
    /* padding: 15px; */
}
.postAvatar {
    margin-right: 10px;
}
.postTopInfo h3 {
    font-size: medium;
}
.postTopInfo p {
    font-size: small;
    color: gray;
}

.single-comment h3 {
    font-size: medium;
}
.single-comment p {
    font-size: medium;
    color: gray;
}

/* post Bottom */
.postBottom {
    /* margin-top: 10px;
    margin-bottom: 10px; */
    /* padding: 15px 25px; */
    padding-left: 1%;
    /* padding-bottom: 1%; */
}

/* post Image */
.postImage img {
    width: 100%;
}

/* post Options */
.postOptions {
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
}
.postOption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}
.postOption p {
    margin-left: 10px;
}
.postOption:hover {
    background-color: #eff2f5;
    border-radius: 10px;
}
.messageSender button {
    width: 100px;
    background-color: #469c60;
    color: #eff2f5;
    font-weight: 800;
}
.messageSender button:hover {
    background-color: white;
    color: #469c60;
}

.comments-section{
    width: 50%;
    background-color: #eff2f5;
    margin-bottom: 2%;
    padding: 1%;
}